.filter {
    position: absolute;
    z-index: 1000;
    // border: 1px solid #000;
    top: 50%;
    width: fit-content;
    left: 20px;
    height: 300px;
    transform: translate(0%, -50%);
    background-color: #ffffff;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
